.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

.form p {
    font-size: 1rem;
    color: red;
}

.form label {
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
}

.form input {
    padding: 10px;
    width: 60%;
    height: 2rem;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 8px;
}

.form .actions { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form .head {
  color: black;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
    color: white;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
  }
  
  .actions .button--alt {
    background-color: transparent;
    color: #8a2b06;
  }
  
  .actions .button {
    background-color: #8a2b06;
    color: white;
  }

  .error {
    background-color: rgba(255, 0, 0, 0.238);
  }
