.background {
    position: fixed;
    padding: 2rem 2rem;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    z-index: 50;
    background-color: white;
    font-size: 1.3rem;
    animation: popup 5s linear;
}

@keyframes popup {
    0% {
        top: -100px;
    }

    30% {
        top: 20px;
    }

    60% {
        top: 20px
    }

    100% {
        top: -100px;
    }
}